/ Banner
%section#banner
  %header
    %h2 This is Overflow
  %p
    A brand new site template designed by
    %a{href: "http://n33.co"} AJ
    for
    = succeed "." do
      %a{href: "http://html5up.net"} HTML5 UP
    %br/
    It’s fully responsive, built on
    = succeed "," do
      %strong skel
    and of course entirely free
    %br/
    under the
    = succeed "." do
      %a{href: "http://html5up.net/license"} Creative Commons license

  %footer
    %a.button.style2.scrolly{href: "#first"}Act on this message
