/ Banner
%section#banner
  %header
    %h2 My name is Le Hoai Phuong
  %p
    I'm working at
    %a{href: "http://framgia.com/"}
      %strong Framgia Vietnam
    as a Full-Stack
    %a{href: "http://rubyonrails.org/"}
      %strong Rails
    = succeed "." do
      Developer
    %br/

  %footer
    %a.button.style2.scrolly{href: "#first"} Posts
