/Feature 1
%article#first.container.box.style1.right
  %a.image.fit{href: "#"}
    %img{src: asset_url('pic01.jpg'), alt: ""}
  .inner
    %header
      %h2
        Lorem ipsum
      %br/
      dolor sit amet

    %p Tortor faucibus ullamcorper nec tempus purus sed penatibus. Lacinia pellentesque eleifend vitae est elit tristique velit tempus etiam.
