/Feature 1
%article#first.container.box.style1.right
  %a.image.fit{href: "#"}
    %img{src: asset_url('pic01.jpg'), alt: ""}
  .inner
    %header
      %h2
        = doc.title
      %br/
      = doc.html_body.html_safe
