/Portfolio
%article.container.box.style2
  %header
    %h2 Magnis parturient
    %p
      Justo phasellus et aenean dignissim
      %br/
      placerat cubilia purus lectus.

  .inner.gallery
    .row.flush
      .3u
        %a.image.fit{href: asset_url("fulls/01.jpg")}
          %img{src: asset_url("thumbs/01.jpg"), alt: "", title: "Ad infinitum"}
      .3u
        %a.image.fit{href: asset_url("fulls/02.jpg")}
          %img{src: asset_url("thumbs/02.jpg"), alt: "", title: "Ad infinitum"}
      .3u
        %a.image.fit{href: asset_url("fulls/03.jpg")}
          %img{src: asset_url("thumbs/03.jpg"), alt: "", title: "Ad infinitum"}
      .3u
        %a.image.fit{href: asset_url("fulls/04.jpg")}
          %img{src: asset_url("thumbs/04.jpg"), alt: "", title: "Ad infinitum"}
      .3u
        %a.image.fit{href: asset_url("fulls/05.jpg")}
          %img{src: asset_url("thumbs/05.jpg"), alt: "", title: "Ad infinitum"}
