/Portfolio
%article.container.box.style2
  %header
    %h2 Magnis parturient
    %p
      Justo phasellus et aenean dignissim
      %br/
      placerat cubilia purus lectus.

  .inner.gallery
    .row.flush
      - Post.active.limit(8).each do |post|
        .3u
          = link_to(image_tag(asset_url("thumbs/01.jpg")), post_path(post), {class: %w{ image fit }, data: {poptrox:  "iframe,800x600"}})
      .3u
        %a.image.fit{href: asset_url("fulls/01.jpg")}
          %img{src: asset_url("thumbs/01.jpg"), alt: "", title: "Ad infinitum"}
